body {
    margin: 0;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.body1 {
    display: flex;
    flex-direction: row;
}

.nav1 {
    display: flex;
    flex-direction: column;
    margin: 50px 0px 0px 15px;
    width: 200px;
}

.nav1-link {
    background-color: rgb(234, 0, 179);
    color: white;
    margin: 10px 0px;
    text-align: center;
    height: 40px;
    border-radius: 10px;
    line-height: 40px;
    transition: height 0.15s, opacity 0.15s, line-height 0.15s;
    font-size: 18px;
    text-decoration: none;
}

.nav2 {
    border-bottom: 5px solid white;
    width: 80%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-around;
}

.nav2-link {
    background-color: white;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0;
    height: 40px;
    width: 28%;
    border: none;
    font-size: 18px;
}

.form-field-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-button {
    width: 40%;
    font-size: 18px;
    height: 40px;
    border-radius: 10px;
    border: none;
    transition: height 0.15s, opacity 0.15s, line-height 0.15s;
}

.button-settings {
    width: 80%;
    height: 40px;
    border: none;
    margin: 10px 0px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}

.nav1-link:hover, .nav2-link:hover, .form-button:hover, .button-settings:hover {
    opacity: 80%;
    cursor: pointer;
    height: 50px;
    line-height: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

header {
    padding: 20px 0px;
    font-size: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
}

img {
    height: 150px;
}

header, .subheader, .form-button {
    background-color: rgb(234, 0, 179);
    color: white;
    text-align: center;
}

.subheader {
    width: 80%;
    margin: 40px;
    font-size: 40px;
    border-radius: 20px;
    padding: 20px 10px;
}


.caixa1 {
    padding: 40px 0px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caixinha {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    border-radius: 20px;
    margin: 20px 0px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

input, select, textarea {
    width: 60%;
    border-radius: 10px;
    min-height: 40px;
    border: 2px solid rgb(201, 201, 201);
    margin: 10px 0px;
    padding: 1px 2px;
}
select {
    width: 61%;
}


.form-field, .form-field-textarea {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


textarea {
    resize: none;
    height: 150px;
}



@media (max-width: 660px) {
    header {
        font-size: 50px;
    }
    .subheader {
        font-size: 35px;
    }
    .body1 {
        flex-direction: column;
    }
    .nav1 {
        width: 90%;
    }
    img {
        height: 100px;
    }
}


@media (max-width: 400px) {
    header {
        font-size: 45px;
    }
    .subheader {
        font-size: 30px;
    }
    img {
        height: 55px;
    }

    .nav1-link, .nav2-link {
        font-size: 14px;
    }
}

@media (max-width: 280px) {
    header {
        font-size: 30px;
    }
    .subheader {
        font-size: 20px;
    }
    img {
        height: 40px;
    }
}

