<!-- HTML PARCIAL DA ABA DE EDITAR ATORES -->


<!-- CSS QUE MOSTRA VISUALMENTE QUAL DAS ABAS (FILMES, ATORES OU DIRETORES) ESTÁ ATIVA -->
<style>
    #aba-atores {
        background-color: rgb(105, 105, 105);
        color: white;
        height: 50px;
        line-height: 50px;
    }
    #aba-filmes, #aba-diretores {
        background-color: white;
        color: black;
    }
</style>

<!-- CAIXAS PARA CRIAÇÃO, ATUALIZAÇÃO E DELEÇÃO DO BANCO DE DADOS -->

<div class="caixinha">
    <h2>Adicionar um ator</h2>

    <form hx-post="/novoAtor"
          hx-target="#mensagem1">
        <div class="form-field" >    
            <label for="nome">Nome:</label>     
            <input type="text" name="nome" required>
        </div>
        <div class="form-field-textarea" >    
            <label for="biografia">Biografia:</label>     
            <textarea maxlength="2048" name="biografia"></textarea>
        </div>
        <div class="form-field-button" >    
            <button class="form-button mutavel" type="submit">Adicionar</button>
        </div>
    </form>
    <div class="mensagem mutavel" id="mensagem1"></div>
</div>

<div class="caixinha">
    <h2>Atualizar dados de um ator</h2>

    <form>
        <div class="form-field" >    
            <label for="id">ID do ator:</label>     
            <input type="number" name="id">
        </div>
        <div class="form-field" >
            <label for="campo">Campo a ser atualizado:</label>       
            <select hx-get="/editar/campoAtualizacao"
                    hx-trigger="change"
                    name="campo">
                <option value="nome">Nome</option>
                <option value="biografia">Biografia</option>
            </select>
        </div>
        <div class="form-field" id="atualizar-dado"></div>
        <div class="form-field-button" >    
            <button class="form-button mutavel" type="submit">Atualizar</button>
        </div>
    </form>

    <div class="mensagem mutavel" id="mensagem2"></div>
</div>

<div class="caixinha">
    <h2>Adicionar filmes de um ator</h2>

    <form hx-post="/novaAtuacao"
          hx-target="#mensagem3">
        <div class="form-field" >    
            <label for="idfilme">ID do filme:</label>     
            <input type="number" name="idfilme">
        </div>
        <div class="form-field" >    
            <label for="idator">ID do ator:</label>     
            <input type="number" name="idator">
        </div>
        <div class="form-field-button" >    
            <button class="form-button mutavel" type="submit">Adicionar</button>
        </div>
    </form>
    <div class="mensagem mutavel" id="mensagem3"></div>

</div>

<div class="caixinha">
    <h2>Excluir um ator</h2>
    <form hx-delete="/deletaAtor"
          hx-target="#mensagem4">
        <div class="form-field" >    
            <label for="id">ID do ator:</label>     
            <input type="number" name="id">
        </div>
        <div class="form-field-button" >    
            <button class="form-button mutavel" type="submit">Excluir</button>
        </div>

    </form>
    <div class="mensagem mutavel" id="mensagem4"></div>
</div>

<script>
    
</script>