{% extends "layout.html" %}

{% block conteudo %}
    <div class="subheader mutavel"> Configurações do site </div>

    <div class="caixa1">
        <div class="caixinha">

            <h2> Escolha uma cor para o site: </h2>

            <button class="button-settings" data-cor="rgb(234, 0, 179)" style="background-color: rgb(234, 0, 179);">Rosa</button>
            <button class="button-settings" data-cor="blue" style="background-color: blue;">Azul</button>
            <button class="button-settings" data-cor="rgb(0, 171, 0)" style="background-color: rgb(0, 171, 0);">Verde</button>
            <button class="button-settings" data-cor="red" style="background-color: red;">Vermelho</button>
            <button class="button-settings" data-cor="rgb(255, 106, 0)" style="background-color: rgb(255, 106, 0);">Laranja</button>
            <button class="button-settings" data-cor="rgb(177, 0, 247)" style="background-color: rgb(177, 0, 247);">Roxo</button>
            
    
        </div>

    </div>

{% endblock %}