<!-- HTML PARCIAL DA ABA DE EDITAR DIRETORES -->


<!-- CSS QUE MOSTRA VISUALMENTE QUAL DAS ABAS (FILMES, ATORES OU DIRETORES) ESTÁ ATIVA -->
<style>
    #aba-diretores {
        background-color: rgb(105, 105, 105);
        color: white;
        height: 50px;
        line-height: 50px;
    }
    #aba-atores, #aba-filmes {
        background-color: white;
        color: black;
    }
</style>

<!-- CAIXAS PARA CRIAÇÃO, ATUALIZAÇÃO E DELEÇÃO DO BANCO DE DADOS -->

<div class="caixinha">
    <h2>Adicionar um diretor</h2>

    <form hx-post="/novoDiretor"
          hx-target="#mensagem1">
        <div class="form-field" >    
            <label for="nome">Nome:</label>     
            <input type="text" name="nome" required>
        </div>
        <div class="form-field-textarea" >    
            <label for="biografia">Biografia:</label>     
            <textarea maxlength="2048" name="biografia"></textarea>
        </div>
        <div class="form-field-button" >    
            <button class="form-button mutavel" type="submit">Adicionar</button>
        </div>
    </form>
    <div class="mensagem mutavel" id="mensagem1"></div>
</div>

<div class="caixinha">
    <h2>Atualizar dados de um diretor</h2>

    <form hx-put="/atualizaDiretor"
          hx-target="#mensagem2"
          hx-trigger="submit">
        <div class="form-field" >    
            <label for="id">ID do diretor:</label>     
            <input type="number" name="id">
        </div>
        <div class="form-field" >
            <label for="campo">Campo a ser atualizado:</label>       
            <select id="atualizarDiretor" name="campo">
                <option value="nome">Nome</option>
                <option value="biografia">Biografia</option>
            </select>
        </div>
        <div class="form-field" id="atualizar-dado">    
            <label for="novoNome">Novo Nome:</label>     
            <input type="text" name="novoNome" required>
        </div>
        <div class="form-field-button">    
            <button class="form-button mutavel" type="submit">Atualizar</button>
        </div>
    </form>
    <div class="mensagem mutavel" id="mensagem2"></div>

</div>

<div class="caixinha">
    <h2>Adicionar/retirar filmes de um diretor</h2>

    <h3>Adicionar filme</h3>
    
    <form hx-post="/novaDirecao"
          hx-target="#mensagem3">
        <div class="form-field" >    
            <label for="idfilme">ID do filme:</label>     
            <input type="number" name="idfilme">
        </div>
        <div class="form-field" >    
            <label for="iddiretor">ID do diretor:</label>     
            <input type="number" name="iddiretor">
        </div>
        <div class="form-field-button" >    
            <button class="form-button mutavel" type="submit">Adicionar</button>
        </div>
    </form>
    <div class="mensagem mutavel" id="mensagem3"></div>

    <h3>Retirar filme</h3>

    <form hx-delete="/deletaDirecao"
          hx-target="#mensagem3-1">
        <div class="form-field" >    
            <label for="idfilme">ID do filme:</label>     
            <input type="number" name="idfilme">
        </div>
        <div class="form-field" >    
            <label for="iddiretor">ID do ator:</label>     
            <input type="number" name="iddiretor">
        </div>
        <div class="form-field-button" >    
            <button class="form-button mutavel" type="submit">Retirar diretor</button>
        </div>

    </form>

    <div class="mensagem mutavel" id="mensagem3-1"></div>

</div>

<div class="caixinha">
    <h2>Excluir um diretor</h2>
    <form hx-delete="/deletaDiretor"
          hx-target="#mensagem4">
        <div class="form-field" >    
            <label for="id">ID do diretor:</label>     
            <input type="number" name="id">
        </div>
        <div class="form-field-button" >    
            <button class="form-button mutavel" type="submit">Excluir</button>
        </div>

    </form>
    <div class="mensagem mutavel" id="mensagem4"></div>
</div>

<!-- SCRIPT QUE RENDERIZA O CAMPO QUE O USUÁRIO QUER ATUALIZAR -->

<script>
    function mudar_campo(id, valor) {
        let div = document.getElementById(id);
        if (valor === 'nome') {
            div.innerHTML = `
            <label for="novoNome">Novo Nome:</label>     
            <input type="text" name="novoNome" required>
            `;
        }
        else {
            div.innerHTML = `
            <label for="novaBiografia">Nova Biografia:</label>     
            <textarea maxlength="2048" name="novaBiografia" required></textarea>
            `;        
        }
    }

    let select = document.getElementById('atualizarDiretor');
    select.addEventListener('change', () => {
        mudar_campo('atualizar-dado', select.value);
    })
</script>