{% extends "layout.html" %}

{% block conteudo %}
    <div class="subheader mutavel"> Editar minhas listas </div>
    <nav class="nav2">
        <button class="nav2-link"
            hx-get="/editar/filmes"
            hx-target=".caixa1"
            hx-trigger="click"
            id="aba-filmes"
        > Filmes </button>
        <button class="nav2-link"
            hx-get="/editar/ator"
            hx-target=".caixa1"
            hx-trigger="click"
            id="aba-atores"
        > Atores </button>
        <button class="nav2-link"
            hx-get="/editar/diretor"
            hx-target=".caixa1"
            hx-trigger="click"
            id="aba-diretores"
        > Diretores </button>

    </nav>
    <div class="caixa1"
         hx-get="{{ pagina }}"
         hx-target=".caixa1"
         hx-trigger="load"
         hx-push-url="true">
    </div>
{% endblock %}