<!-- HTML PARCIAL DA ABA DE EDITAR FILMES -->


<!-- CSS QUE MOSTRA VISUALMENTE QUAL DAS ABAS (FILMES, ATORES OU DIRETORES) ESTÁ ATIVA -->
<style>
    #aba-filmes {
        background-color: rgb(105, 105, 105);
        color: white;
        height: 50px;
        line-height: 50px;
    }
    #aba-atores, #aba-diretores {
        background-color: white;
        color: black;
    }
</style>


<!-- CAIXAS PARA CRIAÇÃO, ATUALIZAÇÃO E DELEÇÃO DO BANCO DE DADOS -->


<div class="caixinha">
    <h2>Adicionar um filme</h2>

    <form hx-post="/novoFilme"
          hx-target="#mensagem1">
        <div class="form-field" >    
            <label for="titulo">Título:</label>     
            <input type="text" name="titulo" required>
        </div>
        <div class="form-field" >    
            <label for="ano">Ano:</label>     
            <input type="number" name="ano" required>
        </div>
        <div class="form-field" >
            <label for="lista">Adicionar na lista:</label>       
            <select name="lista" required>
                <option value="Favoritos">Favoritos</option>
                <option value="Para assistir">Para assistir</option>
            </select>
        </div>
        <div class="form-field">    
            <label for="nota">Nota:</label>     
            <input type="number" name="nota">
        </div>
        <div class="form-field-textarea">    
            <label for="resenha">Resenha:</label>     
            <textarea maxlength="2048" name="resenha"></textarea>
        </div>
        <div class="form-field-button">    
            <button class="form-button mutavel" type="submit">Adicionar</button>
        </div>

    </form>

    <div class="mensagem mutavel" id="mensagem1"></div>

</div>

<div class="caixinha">
    <h2>Atualizar filme</h2>

    <h3>Atualizar informações de um filme</h3>

    <form hx-put="/atualizaFilme"
          hx-target="#mensagem2"
          hx-trigger="submit">
        <div class="form-field">    
            <label for="id">ID do filme:</label>     
            <input type="number" name="id" required>
        </div>
        <div class="form-field" >
            <label for="campo">Campo a ser atualizado:</label>       
            <select id="atualizarFilme" name="campo">
                <option value="titulo">Título</option>
                <option value="ano">Ano</option>
                <option value="lista">Lista</option>
                <option value="nota">Nota</option>
                <option value="resenha">Resenha</option>
            </select>
        </div>
        <div class="form-field" id="atualizar-dado">    
            <label for="novoTitulo">Novo Título:</label>     
            <input type="text" name="novoTitulo" required>
        </div>
        <div class="form-field-button" >    
            <button class="form-button mutavel" type="submit">Atualizar</button>
        </div>
    </form>
    <div class="mensagem mutavel" id="mensagem2"></div>

</div>

<div class="caixinha">
    <h2>Adicionar/remover diretores e atores de um filme</h2>

    <h3>Adicionar diretor</h3>
    <form hx-post="/novaDirecao"
          hx-target="#mensagem3">
        <div class="form-field" >    
            <label for="idfilme">ID do filme:</label>     
            <input type="number" name="idfilme">
        </div>
        <div class="form-field" >    
            <label for="iddiretor">ID do diretor:</label>     
            <input type="number" name="iddiretor">
        </div>
        <div class="form-field-button" >    
            <button class="form-button mutavel" type="submit">Adicionar</button>
        </div>
    </form>

    <div class="mensagem mutavel" id="mensagem3"></div>

    <h3>Adicionar ator</h3>
    <form hx-post="/novaAtuacao"
          hx-target="#mensagem4">
        <div class="form-field" >    
            <label for="idfilme">ID do filme:</label>     
            <input type="number" name="idfilme">
        </div>
        <div class="form-field" >    
            <label for="idator">ID do ator:</label>     
            <input type="number" name="idator">
        </div>
        <div class="form-field-button" >    
            <button class="form-button mutavel" type="submit">Adicionar</button>
        </div>
    </form>
    <div class="mensagem mutavel" id="mensagem4"></div>

    <h3>Retirar diretor</h3>

    <form hx-delete="/deletaDirecao"
          hx-target="#mensagem3-1">
        <div class="form-field" >    
            <label for="idfilme">ID do filme:</label>     
            <input type="number" name="idfilme">
        </div>
        <div class="form-field" >    
            <label for="iddiretor">ID do ator:</label>     
            <input type="number" name="iddiretor">
        </div>
        <div class="form-field-button" >    
            <button class="form-button mutavel" type="submit">Retirar diretor</button>
        </div>

    </form>

    <div class="mensagem mutavel" id="mensagem3-1"></div>

    <h3>Retirar ator</h3>

    <form hx-delete="/deletaAtuacao"
          hx-target="#mensagem4-1">
        <div class="form-field" >    
            <label for="idfilme">ID do filme:</label>     
            <input type="number" name="idfilme">
        </div>
        <div class="form-field" >    
            <label for="idator">ID do ator:</label>     
            <input type="number" name="idator">
        </div>
        <div class="form-field-button" >    
            <button class="form-button mutavel" type="submit">Retirar ator</button>
        </div>

    </form>

    <div class="mensagem mutavel" id="mensagem4-1"></div>

</div>

<div class="caixinha">
    <h2>Excluir um filme</h2>

    <form hx-delete="/deletaFilme"
          hx-target="#mensagem5">
        <div class="form-field" >    
            <label for="id">ID do filme:</label>     
            <input type="number" name="id">
        </div>
        <div class="form-field-button" >    
            <button class="form-button mutavel" type="submit">Excluir</button>
        </div>

    </form>

    <div class="mensagem mutavel" id="mensagem5"></div>
</div>

<!-- SCRIPT QUE RENDERIZA O CAMPO QUE O USUÁRIO QUER ATUALIZAR -->

<script>
    function mudar_campo(id, valor) {
        let div = document.getElementById(id);
        if (valor === 'titulo') {
            div.innerHTML = `
            <label for="novoTitulo">Novo Título:</label>     
            <input type="text" name="novoTitulo" required>
            `;
        }
        else if (valor === 'ano') {
            div.innerHTML = `
            <label for="novoAno">Novo Ano:</label>     
            <input type="number" name="novoAno" required>
            `;
        }
        else if (valor === 'lista') {
            div.innerHTML = `
            <label for="novaLista">Atualizar lista:</label>       
            <select name="novaLista" required>
                <option value="Favoritos">Favoritos</option>
                <option value="Para assistir">Para assistir</option>
            </select>
            `;
        }
        else if (valor === 'nota') {
            div.innerHTML = `
            <label for="novaNota">Nova Nota:</label>     
            <input type="number" name="novaNota" required>
            `;        
        }
        else {
            div.innerHTML = `
            <label for="novaResenha">Nova Resenha:</label>     
            <textarea maxlength="2048" name="novaResenha" required></textarea>
            `;        
        }
    }

    let select = document.getElementById('atualizarFilme');
    select.addEventListener('change', () => {
        mudar_campo('atualizar-dado', select.value);
    })
</script>
