<!DOCTYPE html>
<html lang="en">
<head>

    <!-- HTML DA PÁGINA HOME -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/index.css">
    <script src="/static/script.js"></script>
    <title>O Cinéfilo</title>
</head>
<body>
    <div class="central-div">
        <div class="title mutavel"> O Cinéfilo </div>
        <nav>
            <a href="/editar" class="nav-link mutavel">Editar minhas listas</a>
            <a href="/pesquisar" class="nav-link mutavel">Pesquisar</a>
            <a href="/configurar" class="nav-link mutavel">Configurações</a>
        </nav>
    </div>
</body>
</html>