{% extends "layout.html" %}

{% block conteudo %}

    <!-- HTML DA PÁGINA DE PESQUISA -->


    <!-- SUBHEADER -->
    <div class="subheader mutavel"> Pesquisar </div>

    <!-- CAIXA DA PESQUISA -->
    <div class="caixa1">
        <div class="caixinha">

            <h2> Fazer pesquisa </h2>

            <form hx-get="/buscar"
                hx-target="#caixa2"
                hx-trigger="submit">
                <label for="campo1">Escolha o que pesquisar:</label>       
                <select name="campo1">
                    <option value="filme">Filme</option>
                    <option value="ator">Ator</option>
                    <option value="diretor">Diretor</option>
                </select>
                <label for="campo2">(Caso seja filme) Escolha a lista a pesquisar:</label>       
                <select name="campo2">
                    <option value="ambas">Ambas</option>
                    <option value="Favoritos">Favoritos</option>
                    <option value="Para assistir">Para assistir</option>
                </select>
                <label for="busca">Digite sua pesquisa</label>
                <input type="text" name="busca" placeholder="Digite sua pesquisa">
                <div class="form-field-button" >    
                    <button class="form-button mutavel" type="submit">Pesquisar</button>
                </div>

            </form>
    
        </div>


    </div>

    <!-- RESULTADOS DA PESQUISA -->
    <div class="caixa1"><div class="subheader mutavel" style="margin-bottom: 0px;"> Resultados </div></div>

    <div class="caixa1" id="caixa2"></div>

{% endblock %}