<!-- HTML PARCIAL COM OS RESULTADOS DAS PESQUISAS, E QUE TAMBÉM IMPLEMENTA PAGINAÇÃO -->


{% if campo1 == "filme" %}

    {# HTML CASO A PESQUISA SEJA DE FILMES #}

    {% for item in resultados %}
        <div class="caixinha" style="align-items: start;">
            <h3>Filme: {{ item.titulo }}</h3>
            <ul>
                <li>ID: {{ item.id }}</li>
                <li>Ano: {{ item.ano }}</li>
                <li>Lista: {{ item.lista }}</li>
                <li>Nota: {{ item.nota }}</li>
                {% if diretores[item.id] %}
                    <li>
                        Diretor(es): |
                        {% for diretor in diretores[item.id] %}
                            {{ diretor }} |
                        {% endfor %}
                    </li>
                {% endif %}
                {% if atores[item.id] %}
                    <li>
                        Ator(es): |
                        {% for ator in atores[item.id] %}
                            {{ ator }} |
                        {% endfor %}
                    </li>
                {% endif %}
                {% if item.resenha %}
                    <li>Resenha: {{ item.resenha }}</li>
                {% endif %}
            </ul> 

        </div>
    {% endfor%}



{% else %}

    {# HTML CASO A PESQUISA SEJA DE ATORES OU DIRETORES #}

    {% for item in resultados %}
    <div class="caixinha" style="align-items: start;">
        {% if campo1 == "ator" %}
            <h3>Ator: {{ item.nome }}</li>
        {% else %}
            <h3>Diretor: {{ item.nome }}</li>
        {% endif %}
        <ul>
            <li>ID: {{ item.id }}</li>
            {% if filmes[item.id] %}
                <li>
                    Filme(s): | 
                    {% for filme in filmes[item.id] %}
                        {{ filme }} |
                    {% endfor %}
                </li>
            {% endif %}
            {% if item.biografia %}
                <li>Biografia: {{ item.biografia }}</li>
            {% endif %}
        </ul>

    </div>
    {% endfor%}

{% endif %}


<!-- BOTÔES DE PAGINAÇÃO -->

<div class="nav3">
    {% if temanterior %}
        <button hx-get="/buscar?busca={{ busca }}&campo1={{ campo1 }}&campo2={{ campo2 }}&pagina={{ pagina - 1 }}"
            hx-target="#caixa2"
            class="nav3-link mutavel">
            Anterior
        </button>
    {% endif%}
    {% if temproximo %}
        <button hx-get="/buscar?busca={{ busca }}&campo1={{ campo1 }}&campo2={{ campo2 }}&pagina={{ pagina + 1 }}"
            hx-target="#caixa2"
            class="nav3-link mutavel">
            Próximo
        </button>
    {% endif %}

</div>
