.links-box {
    display: flex;
    flex-direction: column;
}
.links {
    width: 90%;
    background-color: #8179b9;
    display: block;
    margin: 20px;
    text-decoration: none;
    line-height: 100px;
    transition: line-height 0.15s;
    color: black;
    text-align: center;
}

.links:hover {
    cursor: pointer;
    line-height: 120px;
}