<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prof. Dr. Roberto M. Cesar Jr. - USP</title>
    <link rel="stylesheet" href="/static/general_styles.css">
</head>
<body>

    <nav>
        <a href="index.html" class="nav-link">Index</a>
        <a href="biography.html" class="nav-link">Biography</a>
        <a href="students.html" class="nav-link">Past Students and Postdocs</a>
        <a href="https://www.valor.com.br/cultura/6322823/elizabeth-ii-e-akihito-sao-exemplos-do-aumento-da-longevidade-e-da-melhoria-da-qualidade-fisica" class="nav-link">News</a>
        <a href="links.html" class="nav-link">Links</a>
    </nav>

    <main>
        <header>
            <img src="https://www.ime.usp.br/~cesar/index_files/image003.jpg" alt="Roberto M. Cesar Jr." width="512">
        </header>
    
        <div class="main-info">
            <div class="main-info-box">
                <h1>Prof. Dr. Roberto M. Cesar Jr.</h1>
                <strong>Full Professor</strong>
                <br>
                Department of Computer Science, IME-USP<br>
                University of São Paulo (USP)
            </div>
            <div class="main-info-box">
                <h2>Research Areas</h2>
                <ul>
                    <li>Computer Vision</li>
                    <li>Machine Learning</li>
                    <li>Artificial Intelligence</li>
                    <li>Data Science</li>
                </ul>
            </div>
            <div class="main-info-box">
                <h2>Opportunities</h2>
                Open positions for undergraduate, MSc, PhD students and postdoctoral researchers. Competitive fellowships available. International applicants are welcome.

            </div>
            <div class="main-info-box">
                <h2>Contact</h2>
                IME - USP<br>
                Rua do Matão 1010 - Cidade Universitária<br>
                05508-090 - São Paulo, SP - Brazil<br>
                Phone: +55 11 3091-6135<br>
                Email: rmcesar@usp.br</p>
            </div>





        </div>

    </main>


<!--




  
  <h2>News</h2>
  <p><a href="https://www.valor.com.br/cultura/6322823/elizabeth-ii-e-akihito-sao-exemplos-do-aumento-da-longevidade-e-da-melhoria-da-qualidade-fisica">Valor Econômico article on science and society</a></p>


  



  -->
</body>
</html>
